<!-- Tell Flask that we want to extend base.html so that we can use it here -->
<!-- The extends 'base.html' statement gives index.html the navbar in base.html and (styled in main.css) -->
{% extends 'base.html' %}

{% block content %}

<!-- Flask Flashed Message to User -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class='btn-close' data-bs-dismiss = 'alert' aria-label="Close">&times;</button>
                    </div> 
                    
                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class='btn-close' data-bs-dismiss = 'alert' aria-label="Close">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


<div class="container">

<!-- Horizontal Rule above Header -->
<div class="col-md-12 row-explore">
    <hr class="break">
</div>
<!-- Horizontal Rule End -->


<!-- Header Section Start -->
<header class="row">
    <div class="col-12 col-md-6" id="header-text">
        <h2>Show off your Amazing Collection of Marvel Characters with the help of Rangers 59!</h2>
        <h5 class="top-padding bottom-padding">Our user-friendly API tool will make managing your Marvel character collection easy!</h5>
        
        <div>
            <a href="{{ url_for('auth.signup') }}"><button class="btn btn-outline-success button2" type="button">Get Started!</button>
            </a>
        </div>

    </div>
    
    <!-- Header Image Start -->
    <div class="col-12 col-md-6 header-img">
        <!-- <img src="{{ url_for('static', filename='marvel-logo.jpeg') }}"alt="Marvel Logo" class="header-img"> -->
        <img src="../../static/images/marvel-logo.jpeg" alt="Image of superhero shield" class="header-img">
    </div>
    <!-- Header Image End -->
</header>
<!-- Header Section End -->


<!-- Horizontal Rule below Header Section -->
<div class="col-md-12 row-explore">
    <hr class="break">
</div>
<!-- Horizontal Rule End -->


<!-- Start of Middle Section -->
<section class="row">
    <div class="col-12" id="middle-text">
        <h2>Display Your Marvel Collection!</h2>
        <!-- <img src="{{ url_for('static', filename='marvel.png') }}"alt="Image of Marvel Characters" class="mid-image"> -->
        <img src="../../static/images/marvel.png" alt="Image of Marvel Characters" class="mid-image">
    </div>
</section>
<!-- End of Middle Section -->


<!-- Horizontal Rule After Middle Section -->
<div class="col-md-12 row-explore">
    <hr class="break">
</div>
<!-- Horizontal Rule End -->


<!-- Features Section Start -->
<div class="rowlogos">
    <div class="col-md-1 top-only-padding"></div>
    <div class="col-md-3 top-only-padding">
        <!-- <img src="{{ url_for('static', filename='api.png') }}"alt="API Image" class="api-img"> -->
        <img src="../../static/images/api.png" alt="API Image" id="api-image">
    </div>

    <div class="col-md-3 top-only-padding">
        <!-- <img src="{{ url_for('static', filename='graphql.png') }}"alt="GraphQL-image" class="graphql-image"> -->
        <img src="../../static/images/graphql.png" alt="GraphQL-image" id="graphpq-image">
    </div>

    <div class="col-md-3 top-only-padding">
        <!-- <img src="{{ url_for('static', filename='db.png') }}"alt="database-image" class="database-image"> -->
        <img src="../../static/images/db.png" alt="database-image" id="database-image">
    </div>

    <div class="col-md-1 top-only-padding"></div>
</div>

<div class="rowlogos">
    <div class="col-md-1 bottom-padding"></div>
    <div class="col-md-3 bottom-padding">
        <h4>Dedicated API Routes</h4>
    </div>

    <div class="col-md-3 bottom-padding">
        <h4>GraphQL API Route</h4>
    </div>

    <div class="col-md-3 bottom-padding">
        <h4>Backed By a PostreSQL Database</h4>
    </div>

    <div class="col-md-1 bottom-padding"></div>
</div>
<!-- Features Section End -->


<!-- Horizontal Rule Below Features Section -->
<div class="col-md-12 row-explore">
    <hr class="break">
</div>
<!-- Horizontal Rule End -->


<!-- GitHub Section Start -->
<sesction class="row">
    <div class="col-12 col-md-6 top-padding">
        <!-- <img src="{{ url_for('static', filename='marvel_inventory_logo_gray_circle.png') }}"alt="Rangers 59 Logo" id="Shield-image"> -->
        <img src="../../static/images/marvel_inventory_logo_gray_circle.png" alt=" Image of Superhero Shield" id="Shield-image">
    </div>
    
    <div class="col-12 col-md-6 top-extra-padding">
        <h4 class="bottom-padding">Check Out Some of Our Work on GitHub!</h4>

        <div>
            <a href="https://github.com/ErinRichard/marvel-inventory-api.git" target="_blank"><button class="btn btn-outline-success button1" type="button">View Our GitHub</button>
            </a>
        </div>
    </div>
</sesction>
<!-- GitHub Section End -->


<!-- Horizontal Rule Below GitHub Section -->
<div class="col-md-12 row-explore">
    <hr class="break">
</div>
<!-- Horizontal Rule End -->


<!-- Start of Footer Section -->
<footer class="row" id="footer">
<div class="col-2 col-md-2">
    <!-- <img src="{{ url_for('static', filename='marvel_inventory_logo_gray_circle.png') }}"alt="Rangers 59 Logo" class="footer-logo"> -->
    <img src="../../static/images/marvel_inventory_logo_gray_circle.png" alt="Rangers 59 Logo" id="footer-logo">
</div>

<div class="col-2 col-md-2">
    <div class="footer-text-flex">
        <h4>Platform</h4>
        <p>Why Rangers 59?</p>
        <p>Rangers 59 Marvel Inventory Management</p>
        <p>Pricing</p>
        <p>Our Process</p>
        <p>Additional Information</p>
    </div>
</div>


<div class="col-2 col-md-2">
    <div class="footer-text-flex">
        <h4>Features</h4>
        <p>Design</p>
        <p>Integrations</p>
        <p>Collaboration</p>
    </div>
</div>


<div class="col-2 col-md-2">
    <div class="footer-text-flex">
        <h4>Support</h4>
        <p>FAQ</p>
        <p>Help Center</p>
        <p>Privacy</p>
        <p>Contact Support Team</p>
    </div>
</div>


<div class="col-2 col-md-2">
    <div class="footer-text-flex">
        <h4>Company</h4>
        <p>Blog</p>
        <p>About Rangers 59</p>
        <p>Contact Rangers 59</p>
        <p>Customer Support</p>
    </div>
</div>


<div class="col-2 col-md-2">
    <div class="footer-text-flex">
        <h4>Follow Us!</h4>
        <p><a href = "https://twitter.com/" target="_blank" class="social">Twitter</a></p>
        <p><a href = "https://www.linkedin.com/" target="_blank" class="social">LinkedIn</a></p>
        <p><a href = "https://www.facebook.com/" target="_blank" class="social">Facebook</a></p>
        <p><a href="https://github.com/ErinRichard/marvel-inventory-api.git" target="_blank" class="social">Github</a></p>
    </div>
</div>

</footer>
<!-- End of Footer -->

</div>

{% endblock content %}