{% extends 'base.html' %}

{% block content %}
    
    <header class="hero-section">
        <h3 class="header-text">Welcome to the Rangers 59 Marvel Inventory Management Tool!</h3>
    </header>

    <!-- Profile Info section -->
    <div class="container">
        <h3>Here are your profile details: {{ current_user.email }}</h3>

        <ul class="list-group profile">
            <!-- current_user comes from flask login_manager (see models.py)-->
            <!-- the load_user method returns an instance of the user -->
            <li class="list-group-item profile">Name: {{ current_user.first_name }} {{ current_user.last_name }}</li>
            <li class="list-group-item profile">Email: {{ current_user.email }}</li>
            <li class="list-group-item profile">Token: {{ current_user.token }}</li>
        </ul>
    </div>

{% endblock content %}